/* In your CSS file, e.g., App.css or Header.css */
.fixed-navbar {
    position: fixed; /* Makes the navbar fixed */
    top: 0;         /* Aligns it to the top of the viewport */
    left: 0;        /* Aligns it to the left */
    width: 100%;    /* Full width */
    z-index: 1000;  /* Ensures it's on top of other elements */
    background-color: #000; /* Optional: set background color */
    padding-top: 80py; /* Adjust this value to match the navbar height */

  }


  